<%- include("../partials/header")%>
<%- include("../partials/navbar")%>


<main>

  <form class="needs-validation" action="/register" method="POST" novalidate>

    <div class="bg-dark text-secondary px-4 py-5 text-center">
      <%- include("../partials/flash")%>
      <div class="py-2">
        <h1 class="display-5  fw-bold text-white mb-4 text-uppercase">Please sign Up</h1>
        <div class="col-lg-4 mx-auto">
          <div class="form-floating mb-2">
            <input type=" username" class="form-control" id="username" placeholder="Username" name="username" required>
            <label for="username">Username</label>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">
              Please Provide An Username.
            </div>
          </div>

          <div class="form-floating mb-2">
            <input type="email" class="form-control" id="Email" placeholder="name@example.com" name="email" required>
            <label for="Email">Email</label>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">
              Please give an Email address.
            </div>
          </div>

          <div class="form-floating mb-lg-3">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
            <label for="password">password</label>
            <div class="valid-feedback">Looks Good!</div>
            <div class="invalid-feedback">
              Please Provide a password.
            </div>
          </div>

          <button class="w-100 btn btn-lg btn-secondary" type="submit">Register</button>
          <label class="mt-4 mb-2">
            <text type="" value=""> Already have an Account?
          </label>
          <a href="/login" class="w-100 btn btn-lg btn-secondary"> Login</a>
          <p class="mt-5 mb-4 text-muted">&copy; 2021</p>
        </div>
      </div>
    </div>
  </form>
</main>

<%- include("../partials/footer")%>